* {
    /* background: yellow; */
    /* border: 1px solid #00ff00; */
}

/* easy method */

.hero picture img {
    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: orange;

}


/* An alternate method */

/* .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/* Aspect Ratio method */

/* .hero img {
    width: 100%;
    aspect-ratio: auto;
} */