* {
    /* TYPOGRAPHY SETTINGS, calls data from HTML */
    font-family: "Noto Sans JP", sans-serif;

    /* COLOR SCHEMA SETTINGS */
    ---colorscheme-background: #fff;
    ---colorscheme-text: #000;
    ---colorscheme-header-footer: #007da5;

}


body {
    background: var(---colorscheme-background);
    color: var(---colorscheme-text);
    text-align: center;
    margin: 0 auto;
}

header,
footer {
    background-color: var(---colorscheme-header-footer);
    color: white;
}

img {
    margin: 0 auto;
    width: 500px;
    /* display: block; */
}