* {

    /* border: 1px solid red; */

    /* TYPOGRAPHY SETTINGS, calls data from HTML */
    font-family: "Noto Sans JP", sans-serif;

    /* COLOR SCHEMA SETTINGS
    background: #ffffff; // background color
    color: #000000;      // text color
    background: #007da5; // header&footer background color
    color: #ffffff;      // header&footer text color
    */

}


body {
    background: #fff;
    color: #000;
    margin: 0 auto;
}

header,
footer {
    background-color: #007da5;
    color: white;
    text-align: center;
}

footer {
    overflow: hidden;
    margin-top: 2rem;
    
}

nav {
    /* border: none; */
    display: flex;
    padding-bottom: 0.1rem;
}

.navi {
    display: block;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;

}

.navi a {
    display: none;
    /* USED TO MAKE IT VANISH IN MOBILE MODE UNTIL ACTIVATED */
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;

}


footer a, footer a:visited, .navi a:visited {
    color: #ffffff;
}

.navi a:hover {
    background-color: #56b4d3;
    color: #000;

}

#menuButton {
    position: absolute;
    top: 1rem;
    right: 1rem;

}

#menuButton::before {
    content: "☰";
}

#menuButton.open::before {
    content: "❌";
}


.open a {
    display: block;

}


h1 {
    margin-top: 0;
    padding-top: 1rem;
}

.text {
    padding-left: 1rem;
    padding-right: 1rem;
}

div.image {
    text-align: center;
}

img {
    margin: 0 auto;
    width: 500px;
}

ul,
li,
p,
br {
    padding-top: 1rem;
}


.commentForm {
    background-color: gray;
    border: 1px solid black;
    margin: 5px;
    max-width: 600px;
    border-radius: 10px;
}

.commentForm label {
    display: block;
    padding-top: 1rem;
}

.commentForm input[type="text"],
.commentForm textarea {
    display: block;
}

.commentForm textarea {
    width: 95%;
    height: 10rem;
    min-width: 95%;
    max-width: 95%;

}

label.commentsection {
    color: rgb(180, 0, 0);
}

.submitbutton {
    text-align: center;
}

input[type="submit"] {
    margin-top: 1rem;
    height: 3rem;
    width: 40%;
    max-width: 450px;

}

form {

    background-color: beige;
    padding: 1rem;

    display: block;


}

.logo img {
    width: 100px;
    margin-bottom: -20px;
    display: block;
}