* {
    /* TYPOGRAPHY SETTINGS, calls data from HTML */
    font-family: "Noto Sans JP", sans-serif;

    /* COLOR SCHEMA SETTINGS
    background: #ffffff; // background color
    color: #000000;      // text color
    background: #007da5; // header&footer background color
    color: #ffffff;      // header&footer text color
    */

}


body {
    background: #fff;
    color: #000;
    text-align: center;
    margin: 0 auto;
}

header,
footer {
    background-color: #007da5;
    color: white;
}

img {
    margin: 0 auto;
    width: 500px;
    display: block;
}