@media only screen and (min-width: 37.5em) {

    #menuButton {
        display: none
    }

    header {
        display: flex;
    }

    h1 {
        width: 50%;
    }

    .navi {
        display: flex;
        width: 50%;
    }

    .navi a {
        display: block;
        /* USED TO MAKE IT VANISH IN MOBILE MODE UNTIL ACTIVATED */
        padding: 1rem;
        color: #ffffff;
        text-decoration: none;

    }

    .commentForm textarea {
        width: 75%;
        height: 8rem;
        max-width: 95%;
    }

    img {
        width: auto;
        max-height: 400px;
    }

    /* THE FOLLOWING NEED REVERTED */












}