/* IMPORT THE FONTSET */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Zen+Antique+Soft&display=swap');

* {

    /* REVEAL ALL BORDERS */
    /* border: 1px solid #00ff00; */

    /* change the values below to your colors from your palette */
    --background: #ffffff;
    --text-main: #000000;
    --accent1: #a8dadc;
    --accent2: #ffc1cc;
    --accent3: #250cb1;


    /* change the values below to your chosen font(s) */

    --heading-font: "Zen Antique Soft, Noto Sans JP, Helvetica, sans-serif";
    /* USE THIS TO CALL THE FONT SELECTION:
        font-family: var(--heading-font);
    */



    --paragraph-font: "Noto Serif JP, Noto Sans JP, Helvetica, sans-serif";
    /* USE THIS TO CALL THE FONT SELECTION:
        font-family: var(--paragraph-font);
    */

    /* REFERENCE THIS SECTION FOR DESIRED COLORS */
    /* the colors used should be chosen from this palette */

    /* headlines on a white background */
    --headline-color-on-white: #24c7cf;

    /* headlines on a colored background */
    --headline-color-on-color: #d5e0ee;

    /* paragraph text on a white background */
    --paragraph-color-on-white: #14515C;

    /* paragraph text on a colored background */
    --paragraph-color-on-color: #d5e0ee;

    /* paragraph background color */
    --paragraph-background-color: #7d8c96;

    /* nav section colors */
    --nav-link-color: #24c7cf;
    --nav-background-color: #14515C;
    --nav-hover-link-color: #d57dbc;
    --nav-hover-background-color: #d5e0ee;
}

body {
    /* border: 1px solid #000000; */
    background: var(--background);

    margin: 0 auto;

    /* padding-left: 100%; */

}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--accent3)
}

h2 {}

.card-top {
    background: #000000
}

p {
    /* color: var(--text-main); */
    font-family: var(--paragraph-font);
}

header {
    /* border: 1px solid #ff00ff; */
    background: #14515C;
    color: #ffffff;


}

header span {

    height: 50px;
    font-size: 25px;
    font-family: var(--heading-font);

    /* THE FOLLOWING IS REQUIRED FOR THIS SPOT */
    display: block;
}

nav {
    /* border: 1px solid #00ff00; */
    /* border: 1px solid #ff0000; */

    background: var(--accent1);
    /* max-width: auto; */
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: space-around; */

}

nav div {
    /* border: 1px solid #ff0000; */
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    height: 40px;
    /* text-align: left; */
}

a {
    /* border: 1px solid #00ff00; */
    /* border: 1px solid #ff0000; */

    /* display: flex; */

    margin: 5px;


}

nav div a:link {
    text-decoration: none;
}

nav div a:visited {
    color: rgba(84, 84, 179, 0.603);
    text-decoration: none;
}


nav div a:hover {
    /* INSERT WELL-DESIGNED HOVOR EFFECT */
    text-decoration: wavy underline;

    color: #742a5f;
    background: #2ca3b8d0;
}



main {
    /* border: 1px solid #ffff00; */

    background: var(--background);

    /* margin: 0 auto; */

    display: grid;

    /* THE FOLLOWING IS REQUIRED FOR THIS SPOT*/
    max-width: 1200px;
    /* Width can be any fixed value */
    text-align: center;
}

.titlename {
    grid-row: 1/2;
    grid-column: 1/3;

    text-align: center;
    /* color:#00ff00 */
}

main .card {
    /* display: grid;*/
    grid-row: 2/3;
    display: flex;
    
    text-align: center;

}

.card {
    text-align: center;
}

main .card .p {
    /*  */
}

main .card .img {
    /* grid-row: 2/3;
    grid-column: 2/2; */
}

.leftcard {
    /* width: 100%; */
    margin: 0 auto;

    padding: 10px;

    border: 2px solid #522b91;
    border-radius: 5%;

}

.topsection {
    display: grid;
    margin: 2px;
}

.topsection p {
    grid-column: 1/3;
    margin: 5px;
}

.topsection .image {
    grid-column: 3/4;
}

.bottomsection {
    display: block;
    margin: 2px;
}

.bottomsection .image {
    grid-row: 2/3;
    text-align: center;
}

.rightcard {

    width: 300px;
    margin: 0 auto;

    padding: 10px;

    border: 2px solid #522b91;
    border-radius: 10%;
}

.rightcard ul {
    text-align: left;
}

.image {

    width: fit-content;
    /* display: inline-block; */
    /* align-content:space-around; */
}


footer {
    /* border: 1px solid #000fff; */

    background: #14515C;

    color: #ffffff;

    max-height: none;
    /* min-height: 100vh; */

    /* height: 85px; */

    text-align: center;
    font-size: 20px;


}