@media only screen and (min-width: 37.5em) {


    /* HIDE HAMBURGER MENU */
    #menu {
        display: none;
    }

    body {
        /* color: aqua; */
    }


    header {
        display: flex;
    }

    figure {
        width: 200px;
        display: inline-block;
        text-align: center;
        /* margin: 0 auto; */
    }

    img {
        image-rendering: auto;

    }

    .navigation {
        flex-direction: row;


        /* background-color: brown; */
    }

    .navigation a {
        display: block;

    }

    .temple-images {
        grid-template-columns: repeat(4, 1fr);
    }

    .templecards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    }

    section {
        padding: 10px;
        border-radius: 15px;
        /* border: 100px; */
        /* width: 20%; */
        /* width: 200px; */
        margin: 15px;
        /* margin: 20px auto; */
        /* diplay: flex; */
        height: fit-content;

        h3 {}

        p {}

        img {}
    }

}

body {}

main {}

nav {}