/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap'); */

* {
    /* REVEAL ALL BORDERS */
    /* border: 1px solid #00ff00; */

}




:root {
    --background-color: #7e4607;
    --text-color: white;
    /* --heading-font: "Noto Sans JP, Helvetica, sans-serif"; */

    background: var(--background-color);
    font: var(--heading-font);
    /* font: var(--heading-font); */
    text-align: center;

    /* .noto-sans-jp-font { */
    font-family: "Noto Sans JP", sans-serif;
    /* font-optical-sizing: auto; */
    /* font-weight: 1; */
    /* font-style: normal; */
    /* } */
}



body {
    /* background: #7e4607; */

}

h1 {
    color: white;
}

header {}

main {
    /* text-align: center; */
}

picture.hero {}

img {
    /* width: 100%; */
    margin: 0 auto;
}

.card {
    text-align: center;
    background: white;
    margin: 0 auto;
}

.card-label {

    background: #ffa500;
    margin: 0 auto;
}

.card-content {
    background: white;
    display: grid;
    /* grid-template-columns: auto 2px auto; */
    max-width: 25rem;
    margin: 0 auto;
}

.card-left {
    text-align: right;
    grid-column: 1/2;

}

.card-right {
    text-align: left;
    grid-column: 3/4;
}

footer {
    text-align: center;
    background: #7e4607;

    /* FOR EASIER NOTICING, REMOVE WHEN READY */
    background: #ffa500;

}